@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

img {
  max-width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--Slate-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 1px);
  margin: 20px;
}

.container {
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 32px;
}

.container img {
  border-radius: 10px;
  margin-bottom: 16px;
}

.container h1 {
  color: var(--Slate-900);
  text-align: center;
  margin-bottom: 16px;
}

.container p {
  color: var(--Slate-500);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
